<h1>Listing myposts</h1>

<table>
  <thead>
    <tr>
      <th>Mytext</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myposts.each do |mypost| %>
      <tr>
        <td><%= mypost.mytext %></td>
        <td><%= link_to 'Show', mypost %></td>
        <td><%= link_to 'Edit', edit_mypost_path(mypost) %></td>
        <td><%= link_to 'Destroy', mypost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mypost', new_mypost_path %>
